* {
  margin: 0;
  padding: 0;
}

body {
  background: url('background.png');
  /*background-size: cover;*/
  background-repeat: no-repeat;
}

h1 {
  font-size: 50px;
  color: white;
  font-family: inherit;
  text-align: center;
  font-weight: 800;
}

.snow{
  background: none;
  font-family: Androgyne;
  background-image: url('http://www.wearewebstars.dk/codepen/img//s1.png'), url('http://www.wearewebstars.dk/codepen/img//s2.png'), url('http://www.wearewebstars.dk/codepen/img//s3.png');
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
  z-index:1;
  -webkit-animation: snow 10s linear infinite;
  -moz-animation: snow 10s linear infinite;
  -ms-animation: snow 10s linear infinite;
  animation: snow 10s linear infinite;
}
@keyframes snow {
  0% {background-position: 0px 0px, 0px 0px, 0px 0px;}
  50% {background-position: 500px 500px, 100px 200px, -100px 150px;}
  100% {background-position: 500px 1000px, 200px 400px, -100px 300px;}
}
@-moz-keyframes snow {
  0% {background-position: 0px 0px, 0px 0px, 0px 0px;}
  50% {background-position: 500px 500px, 100px 200px, -100px 150px;}
  100% {background-position: 400px 1000px, 200px 400px, 100px 300px;}
}
@-webkit-keyframes snow {
  0% {background-position: 0px 0px, 0px 0px, 0px 0px;}
  50% {background-position: 500px 500px, 100px 200px, -100px 150px;}
  100% {background-position: 500px 1000px, 200px 400px, -100px 300px;}
}
@-ms-keyframes snow {
  0% {background-position: 0px 0px, 0px 0px, 0px 0px;}
  50% {background-position: 500px 500px, 100px 200px, -100px 150px;}
  100% {background-position: 500px 1000px, 200px 400px, -100px 300px;}
}

.modal-backdrop.in {
  z-index: -1000;
}

.score {
  border: 3px solid #060CE9;
  color: #ffffff;
  padding-top: 2%;
  display: flex;
  text-transform: uppercase;
  width: 13.5%;
  height: 14%;
  justify-content: center;
  margin-top: -5%;
  margin-left: 85%;
  margin-bottom: 2%;
}

.catCol {
  margin-bottom: 5%;
}

.catTitle {
  min-height: 100px;
  text-align: center;
}

.catTitle h4 {
  font-size: 25px;
  vertical-align: bottom;
  color: #ffffff;
  font-weight: 700;
  text-transform: uppercase;
}

.clue-button {
  background: #060CE9;
  border-radius: 0;
  padding: 20%;
  margin-top: 10px;
  width: 100%;
  font-size: 20px;
  font-weight: 800;
  color: #ffffff;
}

.clue-button:hover {
  color: #060CE9;
  background-color: #ffffff;
  border: 1px solid #ffffff;
}

.clue-button:focus {
  color: #DAC355;
  outline: none !important;
}
