<div class="row">
  <h1>Jeopardy</h1>
</div>

<div class="score">
  <h4>Score: {{score}}</h4>
</div>

<div class="col-md-2" ng-repeat="category in categories" class="">

  <jeopardy-reader question=category.data></jeopardy-reader>
  <!-- <button class="btn btn-default"><jeopardy-reader question=category.data.clues[1]></jeopardy-reader></button>
  <button class="btn btn-default"><jeopardy-reader question=category.data.clues[2]></jeopardy-reader></button>
  <button class="btn btn-default"><jeopardy-reader question=category.data.clues[3]></jeopardy-reader></button>
  <button class="btn btn-default"><jeopardy-reader question=category.data.clues[4]></jeopardy-reader></button> -->

  <!-- <div class="" ng-repeat="question in questions track by $index">
    <p>Question {{ question.value }}: {{ question.question }}</p>
  </div> -->
  <!-- <p>Question 200: {{ category.$$state.value.data.clues[0].question }}</p>
  <p>Question 300: {{ category.$$state.value.data.clues[0].question }}</p>
  <p>Question 400: {{ category.$$state.value.data.clues[0].question }}</p>
  <p>Question 500: {{ category.$$state.value.data.clues[0].question }}</p> -->
</div>
