<div class="row">
  <h1>Jeopardy</h1>
</div>

<div class="col-md-2" ng-repeat="category in categories" class="">

  <p>Category: {{ category.data.title }}</p>
  <div class="" ng-repeat="question in questions track by $index">
    <p>Question {{ question.value }}: {{ question.question }}</p>
  </div>
  <!-- <p>Question 200: {{ category.$$state.value.data.clues[0].question }}</p>
  <p>Question 300: {{ category.$$state.value.data.clues[0].question }}</p>
  <p>Question 400: {{ category.$$state.value.data.clues[0].question }}</p>
  <p>Question 500: {{ category.$$state.value.data.clues[0].question }}</p> -->
</div>
